@import '../../styles/constants.module';

.FadeOut {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-color: $loading-screen-background-color;
}
