$loading-screen-fade-in-ms: 1000;
$loading-screen-fade-out-ms: 1500;

:export {
    loadingScreenFadeInMs: $loading-screen-fade-in-ms;
    loadingScreenFadeOutMs: $loading-screen-fade-out-ms;
}

.LoadingScreen {
    .screen {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        background-color: #ccc;
        transition: all #{$loading-screen-fade-out-ms}ms linear;

        &.visible {
            opacity: 1;
            transition: all #{$loading-screen-fade-in-ms}ms linear;
        }

        .screenContent {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
        }
    }
}
