.OptionItem {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: rgba(#000, 0.12);
    transition: background-color linear 150ms;

    &:hover {
        background-color: rgba(#000, 0.2);
        cursor: pointer;
    }

    &.fixed {
        background-color: rgba(#000, 0.2);
        cursor: inherit;
    }

    &.disabled {
        background-color: rgba(#000, 0.05);
        color: rgba(#000, 0.2);
        cursor: default;
        pointer-events: none;
    }
}
