@import '~reset-css';
@import 'styles/typography';
@import 'styles/forms';
@import 'styles/buttons';
@import 'styles/tables';

html,
body {
    position: relative;
    height: 100%;
    background-color: #eaeaea;
}

* {
    box-sizing: border-box;
}
