.CombatSandbox1 {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;

    .config-panel {
        flex: 1 0 25%;
        border-right: 3px solid rgba(#000, 0.5);
        overflow: auto;
    }

    .encounter-panel {
        flex: 3 0 75%;

        img {
            max-height: 80vh;
        }
    }

    .panel-header {
        padding: 1rem;
    }

    .encounter-view {
        display: flex;
        flex-flow: row wrap;

        & > * {
            flex: 1;
            padding: 1rem;
        }

        p {
            font-size: 1.4rem;
        }
    }

    .header-with-buttons {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        span {
            flex: 1;
        }
    }
}
