.CombatSandbox1 {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;

    .config-panel {
        flex: 1 0 25%;
        border-right: 3px solid rgba(#000, 0.5);
        overflow: auto;
    }

    .encounter-panel {
        flex: 3 0 75%;
    }

    .panel-header {
        padding: 1rem;
    }

    .EncounterView {
        padding: 1rem;
    }

    .header-with-buttons {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        span {
            flex: 1;
        }
    }
}
