.PixiAppComponent {
    position: relative;
    width: 100%;
    background-color: #ddd;

    .pixi-app-stage {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    #pixi-app {
        position: absolute;
        top: 0;
        left: 0;
    }

    .View {
        position: relative;
    }
}
