.PixiAppComponent {
    position: relative;
    width: 100%;
    background-color: #ddd;

    #pixi-app {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .View {
        position: relative;
    }
}
